<div role="form">
  <div class="box-body">
    <field id="billingCycleClientId" label="Número do BO" model="alerta.numbo"
         placeholder="Informe o Número do BO" grid="12 6 6" type="number" readonly="tabDelete"></field>

    <field id="billingCycleClientId" label="Fonte" model="alerta.fonte"
         placeholder="Informe a fonte" grid="12 6 6" readonly="tabDelete"></field>

    <field id="billingCycleType" label="Mês" model="billingCycle.month" type="number"
         placeholder="Informe o Mês" grid="12 6 6" readonly="tabDelete"></field>

    <field id="billingCycleType" label="Relato da Ocorrência" model="billingCycle.month"
         placeholder="Relate a ocorrência" grid="12 6 6" readonly="tabDelete"></field>

    <field id="billingCycleType" label="Módus" model="billingCycle.month"
         placeholder="Especifique o modo de operação" grid="12 6 6" readonly="tabDelete"></field>

    <field id="billingCycleType" label="Falhas Apuradas" model="billingCycle.month" type="number"
         placeholder="Especifique as falhas apuradas" grid="12 6 6" readonly="tabDelete"></field>


    <!-- Date and time range -->
    <div class="form-group">
      <label>Data e Hora</label>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </div>
        <input type="text" class="form-control pull-right" id="reservationtime">
      </div>
      <!-- /.input group -->
    </div>
    <!-- /.form group -->

    <hr>

    <div class="col-xs-12">
      <fieldset>
        <legend>Resumo</legend>
        <div ng-include="'billingCycle/summary.html'"></div>
      </fieldset>
    </div>

    <div class="col-xs-12 col-lg-6">
      <fieldset>
        <legend>Créditos</legend>
        <div ng-include="'billingCycle/creditList.html'"></div>
      </fieldset>
    </div>


    <div class="col-xs-12 col-lg-6">
      <fieldset>
        <legend>Débitos</legend>
        <div ng-include="'billingCycle/debtList.html'"></div>
      </fieldset>
    </div>
  </div>

  <div class="box-footer">
    <button class="btn btn-primary" ng-click="createBillingCycle()"
         ng-if="tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="updateBillingCycle()"
         ng-if="tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="deleteBillingCycle()"
         ng-if="tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
  </div>
</div>