<div class="box-body">
  <div class="col-md-12">

    <div class="col-md-6">
      <leaflet class="leaflet_list_map" defaults="defaults" lf-center="center" ng-init="buscaLatLong()" markers="markers" width="100%" height="480px"></leaflet>
    </div>

    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>BO</th>
            <th>Tipo de Ação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>

            <tr ng-repeat="acao in final track by $index">
              <td>{{:: acao }}</td>
              <td>{{:: acao }}</td>
              <td style="width:100px;">
                <button class="btn btn-warning" ng-click="showTabUpdate(billingCycle)"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger" ng-click="showTabDelete(billingCycle)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>

        </tbody>
      </table>
<!--       <div class="box-footer clearfix">
         <paginator url="/#!/alertas" pages="{{ pages }}"></paginator>
      </div> -->
    </div>

  </div>

</div>
